{% extends 'stark/base.html' %}
{% block body %}
<h1>客户列表</h1>

    <div class="row"></div>
    <div class="col-md-6 col-md-offset-3">
        <table class="table table-bordered">
            <tr>
                <th>姓名</th>
                <th>性别</th>
                <th>QQ</th>
            </tr>

           {% for customer in customers %}
             <tr>
             <td>{{ customer.customer.name }}</td>
             <td>{{ customer.customer.get_gender_display }}</td>
             <td>{{ customer.customer.qq }}</td>
             </tr>
           {% endfor %}

        </table>
    </div>

{% endblock %}