{% extends 'stark/base.html' %}
{% block body %}
<h1>公共客户列表</h1>
<table class="table table-bordered">
 <tr>
     <th>ID</th>
     <th>QQ</th>
     <th>姓名</th>
     <th>操作</th>
 </tr>

    {% for customer in customers %}
     <tr>
      <td>{{ customer.id }}</td>
      <td>{{ customer.qq }}</td>
      <td>{{ customer.name }}</td>
      <td>
          {% if customer.consultant_id == current_user_id %}
          <a  class="disabled">没有权限</a>
          {% else %}
          <a href="/stark/app01/customer/{{ customer.id }}/competition/">抢单</a>
          {% endif %}
      </td>
     </tr>
    {% endfor %}

</table>
{% endblock %}