{% extends 'stark/base.html' %}
{% load staticfiles %}
{% block body %}

<h1>选择班级</h1>
<ul id="classList"  sid="{{ sid }}">
    {% for cls in cls_list %}
       <li cid="{{ cls.id }}">{{ cls.course }}({{cls.semester}}期)</li>
    {% endfor %}

</ul>

<h1>成绩显示</h1>
<div id="container" style="min-width:400px;height:400px"></div>
{% endblock %}

{% block js %}
    <script src="{% static 'jquery-3.2.1.min.js' %}"></script>>
 <script src="{% static 'highcharts.js' %}"></script>
<script>
    (function () {
     $("#classList>li").click(function () {
         cid=$(this).attr("cid");
         sid=$("#classList").attr('sid');

         $.ajax({
             url:'/stark/app01/student/score_list/',
             type:"get",
             data:{
                 cid:cid,
                 sid:sid
             },
             dataType:'json',
             success:function (arg) {
                 var config = {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: '学生成绩'
                            },
                            subtitle: {
                                text: '数据截止 2017-03，来源: <a href="https://en.wikipedia.org/wiki/List_of_cities_proper_by_population">Wikipedia</a>'
                            },
                            xAxis: {
                                type: 'category',
                                labels: {
                                    rotation: -45,
                                    style: {
                                        fontSize: '13px',
                                        fontFamily: 'Verdana, sans-serif'
                                    }
                                }
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: '分数'
                                }
                            },
                            legend: {
                                enabled: false
                            },
                            tooltip: {
                                pointFormat: '成绩: <b>{point.y} 分</b>'
                            },
                            series: [{
                                name: '总人口',
                                data: [],
                                dataLabels: {
                                    enabled: true,
                                    rotation: -90,
                                    color: '#FFFFFF',
                                    align: 'right',
                                    format: '{point.y}', // one decimal
                                    y: 10, // 10 pixels down from the top
                                    style: {
                                        fontSize: '13px',
                                        fontFamily: 'Verdana, sans-serif'
                                    }
                                }
                            }]
                        };

                        config.series[0].data =arg.data;

                        //$('#container').highcharts(config);
                        Highcharts.chart('container',config);
             }
         })
     });
    })()
</script>
{% endblock  %}